* {
  box-sizing: border-box;
}

/* Fjern Margin og Padding for nemmere at costumize selv */
body {
  margin: 0;
  padding: 0;
}

/* Style navigationsbar og placer content. */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: blue;
  color: white;
  height: 3rem;
}

/* Opgave navn (LOGO) */
.opgaveNavn {
  font-size: 2rem;
  margin: 2rem;
}

/* Giv mine list items display flex for at kunne styrer hvordan de ligger i forhold
til hvordan de ligger ved hinanden */
.navbar .navLinks ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar .navLinks li {
  list-style: none;
}

.navbar .navLinks li a {
  text-decoration: none;
  color: white;
  padding: 1rem;
}

.navbar .navLinks li:hover {
  background-color: blueviolet;
}

.burgerKnap {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 1rem;
  height: 0.5rem;
}

.burgerKnap .burgerBarTop {
  height: 1rem;
  width: 100%;
  background-color: red;
  border-radius: 5px;
}

.burgerKnap .burgerBarMid {
  height: 1rem;
  width: 100%;
  background-color: red;
  border-radius: 5px;
}

.burgerKnap .burgerBarBot {
  height: 1rem;
  width: 100%;
  background-color: red;
  border-radius: 5px;
}
